config.js
node_modules/
package-lock.json
frontend/step_it_up/.metadata
frontend/step_it_up/analysis_options.yaml
*.gradle
*.xml
*.kt
frontend/step_it_up/android/
frontend/step_it_up/.dart_tool/
frontend/step_it_up/.idea/
frontend/step_it_up/ios/
frontend/step_it_up/linux/
frontend/step_it_up/macos/
frontend/step_it_up/web/
frontend/step_it_up/windows/
frontend/step_it_up/pubspec.lock
frontend/step_it_up/README.md
